flask
python-dotenv
Flask-Session==0.5.0
gunicorn==20.1.0
# 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